function Utils.padZero 5
push constant 48
pop local 4
push argument 1
call String.new 1
pop local 0
push local 0
push argument 0
call String.setInt 2
pop temp 0
push argument 1
push local 0
call String.length 1
sub
pop local 2
push argument 1
call String.new 1
pop local 1
label WHILE_EXP0
push local 2
push constant 0
gt
not
if-goto WHILE_END0
push local 1
push local 4
call String.appendChar 2
pop temp 0
push local 2
push constant 1
sub
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 3
label WHILE_EXP1
push local 3
push local 0
call String.length 1
lt
not
if-goto WHILE_END1
push local 1
push local 0
push local 3
call String.charAt 2
call String.appendChar 2
pop temp 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP1
label WHILE_END1
push local 0
call String.dispose 1
pop temp 0
push local 1
return
function Utils.isMultiple 1
push argument 0
pop local 0
label WHILE_EXP0
push local 0
push constant 0
gt
not
if-goto WHILE_END0
push local 0
push argument 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Utils.getScreenLocation 0
push argument 1
push constant 32
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
return
function Utils.isLegalScreenAddress 0
push argument 0
push constant 8192
lt
return
